body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/*
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
#text-box {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
}
#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

*/

#button {
  display: inline-block;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 2px solid black;
  background: whitesmoke;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}

#buttonClose {
  display: inline-block;
  position: absolute;
  left: 12%;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 2px solid black;
  background: whitesmoke;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}

#button:hover {
  background-color: #3A9D23;
  color: whitesmoke;
}

#buttonClose:hover {
  background-color: indianred;
  color: whitesmoke;
}
