/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: auto;
}

#text-box {
  display: block;
  font-size: 60px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
  z-index: 1;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

#buttonInit {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  letter-spacing: 4px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 2px 0px white;
  border-radius: 25px;
  transition: 0.2s all;
}

#button {
  display: inline-block;
  position: absolute;
  font-size: 12.5px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 2px solid black;
  background: whitesmoke;
  cursor: pointer;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 5px;
  z-index: 1;
  border-radius: 25px;
  top: 0;
  left: 5%;
  color: green;
}

#buttonClose {
  display: inline-block;
  position: absolute;
  left: 12%;
  font-size: 12.5px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 2px solid black;
  background: whitesmoke;
  cursor: pointer;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 5px;
  border-radius: 25px;
  z-index: 1;
  top: 0;
  left: 18%;
}

#button:hover {
  background-color: #3A9D23;
  color: whitesmoke;
}

#buttonClose:hover {
  background-color: indianred;
  color: whitesmoke;
}

#buttonInit:hover {
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 2px 8px 0px white;
  -webkit-transform: translateY(-12%);
  transform: translateY(-12%);
}

#text-box:hover .heading{
  filter: blur(8px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

#loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3d3d3d; /* Grey */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}